@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;600&family=IBM+Plex+Sans&display=swap');


 body {
	 background-color: #161616;
	 color: whitesmoke;
}
 body h1, body h2, body h3, body h4, body h5, body h6, body .button {
	 font-family: 'IBM Plex Mono', monospace;
}
 body p {
	 font-family: 'IBM Plex Sans', sans-serif;
}

.button {
	/* background-color: #282828; */
	padding: 10px 10px;
	border-radius: 2px;
	cursor: pointer;
	transition: all .2s ease;
	user-select: none;
	border-bottom: 2px solid #ff4036b6;
}

.button:hover {
	background-color: #525252;
	background-color: #FF4136;
	border-bottom: 2px solid transparent;
	color: black;
}

 .page-container {
	 height: 100vh;
}
 .flex-center {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
}
.page-container {
	padding: 0 30px;
	/* background-color: #282828a1; */

	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.terminal {
	position: fixed;
	font-family: 'IBM Plex Mono', monospace;
	/* background-color: #303030; */
	top: 5vh;
	margin: auto;
	text-align: center;
	z-index: 1000;
	color: #FF4136;
	/* padding: 10px; */
}

sp {
	width: 50%;	
	height: 1px;
	margin: 15px auto;

	background-color: rgba(245, 245, 245, 0.336);
}
pre {
	background-color: #282828;
	border-radius: 2px;
	padding: 5px 25px;
}
 .fade-onload {
	 -webkit-animation: fadein 0.5s;
	/* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein 0.5s;
	/* Firefox < 16 */
	 -ms-animation: fadein 0.5s;
	/* Internet Explorer */
	 -o-animation: fadein 0.5s;
	/* Opera < 12.1 */
	 animation: fadein 0.5s;
	/* Firefox < 16 */
	/* Safari, Chrome and Opera > 12.1 */
	/* Internet Explorer */
	/* Opera < 12.1 */
}
 @keyframes fadein {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @-moz-keyframes fadein {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @-webkit-keyframes fadein {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @-ms-keyframes fadein {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @-o-keyframes fadein {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 


body,
html{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.stagger-visualizer {
	position: absolute;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: .9;
}

.stagger-visualizer div {
  /* position: absolute; */
  width: 64px;
  height: 128px;
  border: 1px solid #FF4136;
  /* background-color: #F6F4F2; */
}